@font-face {
    font-family: 'brush';
    src: url(./fonts/brush.ttf);
}

body{

/* background: url("./css/backgrounds/dofus.jpg") 40% 70%; */

background: url("https://i.kym-cdn.com/photos/images/original/000/947/002/6e3.gif");
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
margin: 0; /* Remova as margens para garantir que não haja espaço extra */
padding: 0;
}

p{

font-family: brush;

}

a{


text-decoration: none;
color: yellow;

}

.menu-login{

background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo transparente */
box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
position: relative;
display: flex;
flex-direction: column;
align-items: center; 
width: 280px;
border-radius: 15px;
height: 300px;
margin: auto;
top: 140px;

}

.menu-login h1{

font-family: brush;
color: white;

}

.menu-login input{

display: block;

font-family: brush;

margin-bottom: 10px;

border-radius: 10px;




}

.menu-login input[type="submit"]{

    background: url('../View/css/backgrounds/botão.png');
    background-size: cover; /* Ajuste a escala da imagem */
    background-repeat: no-repeat;
    background-position: center; /* Centraliza a imagem no botão */
    padding: 10px 20px;
    width: 200px;
    border-radius: 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-indent: -9999px;
}


.menu-login label{

color: white;

font-family: brush;





}

footer {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;

}

footer img {
    max-width: 100px; /* Ajuste o tamanho máximo da imagem do rodapé */
}